<div class='main-body'>
  <div class='calendar'>
    <div class='calendar-header'>
      <div class="calendar-month">July</div>
      <div class='week-days'>
        <div class=week-day>M</div>
        <div class=week-day>T</div>
        <div class=week-day>W</div>
        <div class=week-day>T</div>
        <div class=week-day>F</div>
        <div class=week-day>S</div>
        <div class=week-day>S</div>
      </div>
    </div>

    <div class='days'>
      <% @d = 0 %>
      <% 31.times do %>
        <% @d += 1 %>
        <div class='day'> <%= @d %> </div>
      <% end %>
    </div>
  </div>

  <div class='chat'>
    <div class='group-info'>
      <h1> <%= @group.name %></h1>
      <% @group_users = GroupUser.where(group_id: @group.id) %>
      <% @group_users.each do |user| %>
        <span> <%= User.find_by(id: user.user_id).name %>   </span>
      <% end %>
    </div>

    <div id="group_posts">
      <% @group_posts.each do |post| %>
      <% @post_author = User.find_by(id: post.user_id) %>
      <div class='post'>
        <%= @post_author.name %>:   <em><%= post.content %></em>
      </div>
      <% end %>
    </div>

    <div id="post_form">
      <div class='post-text'>
        <%= form_for [@group, @post] do |form| %>
        <%= form.text_area :content %>
      </div>

      <div class='post-submit'>
        <%= form.submit "Send Message" %>
      </div>
      <% end %>
    </div>
  </div>

</div>
