<h1>Make My Day</h1>
<%= form_tag(controller: 'mmd', action: 'index', method: 'get') do %>
  <%= date_field_tag(:date) %>
  <%= submit_tag('Make your day') %>
<% end %>

<% @events.each do |event| %>
  <h2><%= event['title'] %></h2>
  <p>Description: <%= event['description'] %></p>
  <p>Price: <%= event['price'] %></p>
<% end %>

<%= link_to 'Create New Group', new_group_path %>
