<%= stylesheet_link_tag  'index.css' %>
<div class='banner'>
  <%= link_to 'Make My Day', '#make-my-day-form' %>
  <%= link_to 'Make Our Day' %>
</div>

<div id='make-my-day-form'>
  <%= render 'activities_form' %>
</div>
<!-- <%= render 'events' %> -->

<%= link_to 'Create New Group', new_group_path %>
