<%= stylesheet_link_tag  'index.css' %>

<div class='banner'>
  <%= link_to 'Make My Day', '#make-my-day-form' %>
  <%= link_to 'Make Our Day', new_group_path %>
</div>

<div id='make-my-day-form'>
  <%= render 'activities_form' %>
</div>

<div id='events'>
  <%= render 'events' %>
</div>
